@model WebMVC.ViewModels.Books.Responses.BookIndexVm

<div class="container">
    <div class="row">
        
   
        <div class="col-xs-8 col-xs-offset-2">
            <form asp-controller="Home" asp-action="Index" method="get">
                <div class="col-12 d-flex justify-content-center text-center">
                    <div class="">

                        Find by name: <input type="text" name="SearchString" value="@Model.CurrentSearchString"/>|
                        Filter:
                        @if (Model.CurrentCategoryFilter == null)
                        {
                            <select asp-for="@Model.CurrentCategoryFilter" name="FilterOption" asp-items="@Model.Categories" class="esh-catalog-filter">
                                <option value="" selected="selected">
                                    All
                                </option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="@Model.CurrentCategoryFilter" name="FilterOption" asp-items="@Model.Categories" class="esh-catalog-filter">
                                <option value="">
                                    All
                                </option>
                            </select>
                        }
                        <button style="margin-bottom:0" type="submit" value="Search" class="btn btn-default">Search</button>
                        <a asp-action="Index" asp-controller="Home">Back to Full List</a>
                    </div>
                </div>
            </form>
        </div><!-- end col-xs-8 -->
    </div><!-- end row -->
</div><!-- end container -->
<div>
    <span>Total Items: @Model.PaginationInfo.TotalItems || Total Page: @Model.PaginationInfo.TotalPages || Current Page: @Model.PaginationInfo.ActualPage</span>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4" style="margin-top: 10px">
    @foreach (var item in Model.BookItems)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@item.ImageUrl" class="card-img-top" alt="...">
                
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Price: @item.Price VND</p>
                    <p class="card-text">Total Sales: @item.TotalSales VND</p>
                    <p class="card-text">Quantity: @item.Quantity VND</p>
                </div>
                <div class="text-center" style="margin-bottom: 5px">
                    <a class="btn btn-secondary"
                       asp-action="ProductDetail"
                       asp-route-id="@item.Id",
                       asp-route-productName="@item.Name"
                       ><span class="material-icons">
                        description
                        </span></a>
                    <a class="btn btn-secondary"
                       onclick="AddToCart(@item.Id)">
                        <span class="material-icons">
                        shopping_cart
                        </span>
                    </a>
                    <a class="btn btn-secondary">
                        <span class="material-icons">
                        payment
                        </span>
                    </a>

                </div>
            </div>
        </div>
    }

</div>

<div class="row" style="margin-top: 50px">
    <div class="col-xs-8 col-xs-offset-2">

        @{
            var prevDisabled = !Model.PaginationInfo.Previous ? "disabled" : "";
            var nextDisabled = !Model.PaginationInfo.Next ? "disabled" : "";
        }
        <nav >
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link btn @prevDisabled"
                       
                       asp-action="Index"
                       asp-route-pageNumber="@(Model.PaginationInfo.ActualPage - 1)"
                       asp-route-sortOption="@Model.CurrentSort"
                       asp-route-CurrentSearch="@Model.CurrentSearchString"
                       asp-route-FilterOption="@Model.CurrentCategoryFilter">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link  @nextDisabled"
                     
                       asp-action="Index"
                       asp-route-pageNumber="@(Model.PaginationInfo.ActualPage + 1)"
                       asp-route-sortOption="@Model.CurrentSort"
                       asp-route-CurrentSearch="@Model.CurrentSearchString"
                       asp-route-FilterOption="@Model.CurrentCategoryFilter">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <form asp-action="Index" method="get">
            <div class="col-12 d-flex justify-content-center text-center">
                <div class="">

                    Go to page: <input type="text" name="pageNumber" value=""/>|
                    @Model.PaginationInfo.TotalPages
                    <input type="hidden" asp-for="@Model.CurrentSearchString" name="searchString"/>
                    <input type="hidden" asp-for="@Model.CurrentSort" name="SortOrder"/>
                    <input type="hidden" asp-for="@Model.CurrentCategoryFilter" name="filterOption"/>
                    <button style="margin-bottom:0" type="submit" value="Search" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div><!-- end col-xs-8 -->
</div>

