@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.CodeAnalysis.Scripting
@model WebMVC.Models.Common.PaginatedList<WebMVC.Models.Books.Responses.BookIndexVm>
@{
    var filterOptions = (List<SelectListItem>)ViewBag.FilterOptions;
    var currentFilterOption = ViewBag.CurrentFilterOption;
}


<div class="col-md-12 col-md-push-1">
    <h3 class="text-center">Manage Users</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                 <form asp-action="Index" method="get">
                     <div class="col-12 d-flex justify-content-center text-center">
                         <div class="">
                             
                             Find by name: <input type="text" name="SearchString" value="@ViewBag.CurrentSearch"/>|
                             Filter:
                             <select id="categorySelect" asp-items="@filterOptions" name="filteroption">
                                 <option value="@null" selected="selected">All</option>
                                 @if (currentFilterOption != null)
                                 {
                                     var selected = filterOptions.FirstOrDefault(x => x.Value == currentFilterOption.ToString());
                                     <option value="@selected.Value" selected="selected">@selected.Text</option>
                                 }
                             </select>|
                             <button style="margin-bottom: 0px" type="submit" value="Search" class="btn btn-default">Search</button>
                             <a asp-action="Index" asp-controller="Book" asp-area="StoreOwner">Back to Full List</a>
                         </div>
                     </div>
                 </form>
            </div><!-- end col-xs-8 -->       
        </div><!-- end row -->  
    </div><!-- end container -->    
</div><!-- end col-md-9 -->

<div class="table-responsive" style="margin-top: 10vh">
<table class="table table-image text-center">
    <thead>
    <tr>
        <th class="align-middle" scope="col">
            Image
        </th>
        <th class="align-middle" scope="col">
            <a asp-action="Index"
               asp-route-sortOrder = "@ViewBag.NameSortParm"
               asp-route-currentFilterOption = "@ViewBag.CurrentFilterOption"
               asp-route-currentSearch="@ViewBag.CurrentSearch">
                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                    <span class="nav-link-text ms-1">Title </span>
                    <i class="material-icons" style="padding-left: 5px">
                        sort
                    </i>
                </div>

            </a>
        </th>
        <th class="align-middle" scope="col">
            <a asp-action="Index"
               asp-route-sortOrder = "@ViewBag.QuantitySortParm"
               asp-route-currentFilterOption = "@ViewBag.CurrentFilterOption"
               asp-route-currentSearch="@ViewBag.CurrentSearch">
                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                    <span class="nav-link-text ms-1">Quantity </span>
                    <i class="material-icons" style="padding-left: 5px">
                        sort
                    </i>
                </div>
            
            </a>
        </th>
        <th class="align-middle" scope="col">
            <a asp-action="Index"
               asp-route-sortOrder = "@ViewBag.PriceSortParm"
               asp-route-currentFilterOption = "@ViewBag.CurrentFilterOption"
               asp-route-currentSearch="@ViewBag.CurrentSearch">
                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                    <span class="nav-link-text ms-1">Price </span>
                    <i class="material-icons" style="padding-left: 5px">
                        sort
                    </i>
                </div>
            
            </a>
        </th>
        <th class="align-middle" scope="col">
            <a asp-action="Index"
               asp-route-sortOrder = "@ViewBag.TotalSalesSortParm"
               asp-route-currentFilterOption = "@ViewBag.CurrentFilterOption"
               asp-route-currentSearch="@ViewBag.CurrentSearch">
                <div class="text-center me-2 d-flex align-items-center justify-content-center">
                    <span class="nav-link-text ms-1">Total Sales </span>
                    <i class="material-icons" style="padding-left: 5px">
                        sort
                    </i>
                </div>
            
            </a>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td class="align-middle">
                <img width="100" src="@item.ImageUrl"/>
            </td>
            <td class="align-middle">@item.Name</td>
            <td class="align-middle">@item.Quantity</td>
            <td class="align-middle">@item.Price VND</td>
            <td class="align-middle">@item.TotalSales</td>
            <td class="align-middle">
                <div class="text-center">
                    <a href="#" style="cursor:pointer">
                        <i class=""></i>Button
                    </a>
                    <a href="#" style="cursor:pointer">
                        <i class=""></i>Button
                    </a>
                    <a href="#">
                        <i class=""></i>Button
                    </a>
                </div>
            </td>
        </tr>
    }

    </tbody>
</table>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var currentPage = (int)ViewBag.CurrentPage;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="page-link"
               asp-area="StoreOwner"
               asp-controller="Book"
               asp-action="Index"
               asp-route-pageNumber="@(currentPage-1)"
               asp-route-CurrentSearch="@ViewBag.CurrentSearch"
               asp-route-currentFilterOption="@ViewBag.CurrentFilterOption">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        }
        

        @{
            // var currentPage = (int) ViewBag.CurrentPage;
            // How many pages views right or left of currentPage
            const int PageLeft = 2;
            const int PagesRight = 2;

            // get first page befor ...
            var fromPage = Math.Max(1, currentPage - PageLeft);

            // get last page after ...
            var toPage = Math.Min(Model.TotalPages, currentPage + PagesRight);

            if (Model.TotalPages - toPage == 1)
            {
                toPage = Model.TotalPages;
            }

            if (fromPage > 1)
            {
                // view First page
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>

                if (fromPage > 2)
                {
                    // view first ...
                    // calculate number page for link ..., it's middle between first page and fromPage
                    var middleNumber = (int) Math.Ceiling((double) (fromPage - 2) / 2) + 1;
                    <li class="page-item">
                        <a class="page-link" href="#">...</a>
                    </li>
                }
            }


            // view paginator between currentPage
            for (var pageIndex = fromPage; pageIndex <= toPage; pageIndex++)
            {
                <li class="page-item" @Html.Raw(currentPage == pageIndex ? "class=\"page-item active\"" : "") )>
                    <a class="page-link"
                       asp-area="StoreOwner"
                       asp-controller="Book"
                       asp-action="Index"
                       asp-route-pageNumber="@pageIndex"
                       asp-route-CurrentSearch="@ViewBag.CurrentSearch"
                       asp-route-currentFilterOption="@ViewBag.CurrentFilterOption">
                        @pageIndex
                    </a>
                </li>
            }


            // view second ...
            if (toPage < Model.TotalPages)
            {
                var middleNumber = (int) Math.Ceiling((double) (Model.TotalPages - toPage) / 2) + toPage;
                <li class="page-item">
                    <a class="page-link" href="#">...</a>
                </li>
                // view last page
                if (toPage < Model.TotalPages - 1)
                {
                    <li class="page-item">
                        <a class="page-link"
                           asp-area="StoreOwner"
                           asp-controller="Book"
                           asp-action="Index"
                           asp-route-pageNumber="@Model.TotalPages"
                           asp-route-CurrentSearch="@ViewBag.CurrentSearch"
                           asp-route-currentFilterOption="@ViewBag.CurrentFilterOption">
                            @Model.TotalPages
                        </a>
                    </li>
                }
            }

        }

        <li class="page-item">
        @if (currentPage < Model.TotalPages)
        {
            <a class="page-link"
               asp-area="StoreOwner"
               asp-controller="Book"
               asp-action="Index"
               asp-route-pageNumber="@(currentPage+1)"
               asp-route-CurrentSearch="@ViewBag.CurrentSearch"
               asp-route-currentFilterOption="@ViewBag.CurrentFilterOption">
                
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        }
    </ul>
</nav>

@section Scripts
{
    let select = document.getElementById("categorySelect");
    select.options.selectedIndex = 2;
}
